* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*width: 100vw;
    height: 100vh;*/
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Homepage_bg.png");
    /*<!-- background-url("Homepage_bg.png")*/
    overflow: hidden;
}

.wrapper {
    width: 100%;
}

.carousel {
    max-width: inherit;
    margin: auto;
    padding: 0;
}

.carousel .card {
    width: fit-content;
    display: grid;
    grid-template-columns: 382px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
    transition: 1s ease;
    cursor: pointer;
    margin: 30px;
}

.card-image {
    grid-area: image;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg2.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image3 {
    grid-area: image;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg3.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-stats {
    grid-area: stats;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    */
    color: whitesmoke;
    font-size: 15px;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}

.card-stats2 {
    grid-area: stats;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    */
    color: whitesmoke;
    font-size: 15px;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 127, 7);
}

.card-stats3 {
    grid-area: stats;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    */
    color: whitesmoke;
    font-size: 15px;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(7, 23, 255);
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #0072bc!important;
}

a {
    text-decoration: inherit;
    color: inherit;
}

nav {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.logo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    left: 16px;
}